# Node / Angular
node_modules/
dist/
.angular/

# C# / .NET
bin/
obj/
.vs/
*.user

# Python
__pycache__/
*.pyc
venv/
.venv/
.env

# General
.DS_Store
Thumbs.db

*.gguf
*.bin
*.safetensors
*.pt
*.pth

# Exclude folders
copy_solvers/
OCR_Pictures/

# Exclude screenshots / images
problem_screenshot.png
problem_screenshot_01.png
*.png